body{
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: black;
}

#voteButtons {
    width: 200px;
}
#postHeadingContainer{
    display: flex;
}
#postHeading{
    flex-grow: 1;
}
.voteButton{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
}
#upvoteButton{
    background: url(upvoteIcon.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

