body{
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: black;
}

#upDownVoteButtons {
    width: 200px;
    
}
#postHeadingContainer{
    display: flex;
}
#postHeading{
    flex-grow: 1;
}
.voteButton{
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border: none;
}
#upvoteButton{
    background: url(upvoteIcon.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

